/* Card Offer */
article.card-background {
  background-color: #eaedee;
  width: 100%;
  margin: 0 auto;
}
.card-offer {
  width: 1280px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-around;
}
/* Card Offer Carrousel*/

div.card-carrousel {
  max-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-container {
  width: 450px;
}

div.carrousel-image {
  height: 600px;
  object-fit: cover;
}
img.offer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 600px;
}

/*  ERROR 404 */
.error_container {
  width: 100%;
}
.main__error {
  height: calc(100vh - 530px);
  background-color: #ebedee;
  padding-top: 13rem;
}

.error__display {
  background-color: #ffffff;
  text-align: center;
  padding: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.error__display > p {
  font-size: 3rem;
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 50px;
}

.error__link {
  color: var(--primary-color);
  text-decoration: underline;
  font-size: 1.6rem;
}

/* ----------------- RESPONSIVE ---------------- */
@media (max-width: 1024px) {
}
@media (max-width: 768px) {
}
@media (max-width: 425px) {
}
