/* Card Offer Description */
div.card-description {
  width: 360px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}
span.product-price {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.card-description ul > li {
  display: flex;
  padding: 2px;
}
.product-description-list span:nth-child(odd) {
  color: #999;
}
li > span {
  flex: 1;
  font-size: 14px;
}

div.line-gray {
  background-color: #999;
  height: 1px;
  width: 100%;
  margin: 50px auto;
}
p.product-name {
  margin: 20px 0;
  font-weight: 800;
}

p.product-desc {
  color: #666;
  margin: 20px 0;
}
div.user-avatar-name {
  display: flex;
  align-items: center;
}
.offer-avatar-user {
  height: 50px;
  object-fit: cover;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.button-buy {
  background-color: #2db0ba;
  color: white;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
}
