/* GENERAL RULES HEADER */
header {
  height: 120px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

header div.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 10px 0;
}
header div a > img {
  object-fit: cover;
  height: 40px;
}

/* Filter header */
.header-button-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* Left Button Header */
div.header-button-left {
  width: 630px;
}

.header-search > input {
  width: 80%;
  height: 40px;
}
.header-range {
  margin-top: 25px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 15px;
}
.min-filter,
.max-filter {
  width: 50px;
}
/* Search input */
input.search-input {
  border: none;
}

div.header-search,
input.search-input {
  background-color: #f5f6f7;
  position: relative;
  border-radius: 5px;
  font-size: 1rem;
  width: 580px;
  height: 37px;
}

input.search-input {
  padding-left: 40px;
}

.icon-glass {
  position: absolute;
  left: 10px;
  top: 10px;
  height: 20px;
  color: #bbb;
  z-index: 10;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  content: "⇡";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2db0ba;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  display: flex;
  content: "⇣";
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2db0ba;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2db0ba;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  content: "⇡";
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Right Button Header*/

header div.header-button-login-sign {
  display: flex;
  gap: 20px;
}

div.header-button-login-sign > button {
  background-color: #fff;
  border: #2baeb7 1px solid;
  border-radius: 4px;
  color: #2baeb7;
  font-size: 0.75rem;
  height: 25px;
  padding: 0 10px;
  min-width: 110px;
}

header div.header-button-sell {
  display: flex;
}

div.header-button-sell > button {
  background-color: #2db0ba;
  border: #2baeb7 1px solid;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75rem;
  height: 25px;
  padding: 0 10px;
}

div.header-button-login-sign > button.logout {
  background-color: red;
  border: none;
  color: white;
}

.button-sell {
  background-color: #2db0ba;
  border: #2baeb7 1px solid;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75rem;
  height: 25px;
  padding: 0 10px;
}

/* ----------------- RESPONSIVE ---------------- */
@media (max-width: 1024px) {
  div.header-button-left {
    width: 430px;
  }
  div.header-search,
  input.search-input {
    width: 450px;
    height: 37px;
  }
  .header-range > span {
    width: 120px;
  }
}
@media (max-width: 768px) {
  header div.header-container {
    justify-content: flex-start;
    gap: 30px;
    margin-left: 50px;
  }
  div.header-button-left {
    width: 350px;
  }
  div.header-search,
  input.search-input {
    margin-left: 20px;
    width: 275px;
    height: 37px;
  }
  .header-range {
    display: none;
  }

  header div.header-button-login-sign,
  header div.header-button-sell {
    display: none;
  }
}
@media (max-width: 425px) {
}
