@font-face {
    font-family: 'V-Inter';
    src: url('V-Inter-Medium-500.eot');
    src: url('V-Inter-Medium-500.eot?#iefix') format('embedded-opentype'),
        url('V-Inter-Medium-500.woff2') format('woff2'),
        url('V-Inter-Medium-500.woff') format('woff'),
        url('V-Inter-Medium-500.ttf') format('truetype'),
        url('V-Inter-Medium-500.svg#V-Inter-Medium-500') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'V-Inter';
    src: url('V-Inter-Regular-375.eot');
    src: url('V-Inter-Regular-375.eot?#iefix') format('embedded-opentype'),
        url('V-Inter-Regular-375.woff2') format('woff2'),
        url('V-Inter-Regular-375.woff') format('woff'),
        url('V-Inter-Regular-375.ttf') format('truetype'),
        url('V-Inter-Regular-375.svg#V-Inter-Regular-375') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

