@import "./assets/font/stylesheet.css";

/* GENERAL */

*,
body {
  font-family: V-Inter, "sans-serif";
}

.container {
  width: 1280px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}
