@import "./components/header";

/* GENERAL */
main {
  width: 1200px;
  margin: 0 auto;
}

/* HERO */
.hero-div {
  height: 500px;
  width: 100vw;
  position: relative;
}

.hero-pop {
  position: absolute;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  height: 20vh;
  width: 20vw;
  top: 20%;
  left: 20%;
}
.hero-div > img.img-home-hero {
  object-fit: cover;
  position: absolute;
  height: 500px;
  width: 100%;
}

.hero-div > img.img-home-hero2 {
  object-fit: cover;
  position: absolute;
  width: 90%;
  bottom: 0;
  right: 0;
}

/* Home Offer */
.home-offer-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.offer-item {
  width: 100px;
}

.offer-item > img {
  object-fit: cover;
  height: 300px;
}
